<%-include("header") -%>
<h2> this is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla alias itaque culpa atque non perferendis ad commodi praesentium quasi sequi aut consequatur tempora aliquam placeat exercitationem, enim eius animi magnam!</p>
<%-include("footer") -%>
<!-- this import the header and footer do similar configuration to every file can be achieved -->